<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Notes</title>
    <!-- ---CSS--Links -->
    <link rel="shortcut icon" href="/images/Ifone.svg" type="image/x-icon">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/font.css">
    <!-- --JS--Links-- -->
    <script src="js/jquery.js"></script>
</head>

<body>
    <!-- --Login form-- -->
    <div class="login_form_sec section">
        <h1 class="sec_title">We are <span style="color: #FD7012;">excited</span> to welcome you in<br>
            our FAMILY 👋</h1>
        <div class="login_form_area">
            <form action="/" method="post">
                <div class="form_area">
                    <div class="single_input">
                        <label for="username" class="input_label">Username</label>
                        <input type="text" name="username" id="username" placeholder="mohitkumawat310" class="input_field">
                    </div>
                    <div class="single_input">
                        <label for="password" class="input_label">Password</label>
                        <input type="password" name="password" id="password" placeholder="xxxxxxx" class="input_field">
                    </div>
                    <div class="single_input">
                        <button type="submit" class="primary_btn">Sign in</button>
                        <p class="sec_desc" style="margin-top: 0;"><a href="/sign_up">New here ? Create account</a></p>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <!-- --Login form END-- -->
    <!-- ---Scripts-- -->
    <script src="/js/main.js"></script>
</body>

</html>